<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crossmanifold.crossmanifold" version="0.9.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CrossManifold</name>
    <description>
        The official Cross Manifold mobile application.
    </description>
    <author email="bleech94@gmail.com" href="http://www.ultra-fin.com/">
        Brandon Leech
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
        <splash src="res/drawable-ldpi/splash.png" density="port-ldpi"/>
        <splash src="res/drawable-mdpi/splash.png" density="port-mdpi"/>
        <splash src="res/drawable-hdpi/splash.png" density="port-hdpi"/>
        <splash src="res/drawable-xhdpi/splash.png" density="port-xhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />

        <!-- TODO: Fix
        <splash src="res/screen/ios/screen-iphone-portrait.png" width="320" height="480"/>
        <splash src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" height="960"/>
        <splash src="res/screen/ios/screen-iphone-portrait-568h-2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/screen-iphone-portrait-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/screen-iphone-portrait-736h.png" width="1242" height="2208"/>
        -->

    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="screen" />
    <feature name="SplashScreen" >
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="true" />
    </feature>
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" /> <!-- TODO: Change so only pubnub allowed? -->
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="com.ionic.keyboard" spec="1.0.3" source="pgb" />
    <plugin name="io.litehelpers.cordova.sqlite" spec="0.7.10" source="pgb" />
</widget>
